.catalog {
    padding: 24px 25px 0;
}

.info-panel {
    display: flex;
    padding: 16px 24px;
    box-shadow: 0px 0px 16px rgba(16, 70, 73, 0.1);
    border-radius: 8px;
    &__label {
        display: flex;
        margin-right: 48px;
    }
    &__title {
        @include fontMid(600);
        margin-right: 8px;
    }

    &__value {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
}

.filter-block {
    &__panel {
        display: flex;
        padding: 16px 24px 16px 144px;
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 4px 12px;
        margin-left: 24px;
        border: 1px solid transparent;

        > .text {
            margin-right: 8px;
            color: #3f8483;
            @include fontSmall(600);
            text-transform: uppercase;
        }
    }
}

.select-block {
    display: flex;

    &__info {
        margin-right: 26px;
    }

    &__instruments {
        display: flex;

        > .btn {
            margin-right: 24px;
        }
    }
}

.info-wrapper {
    display: flex;
    align-items: stretch;

    &__text-row {
        display: flex;
        align-items: center;
        @include fontSmall(600);
        text-transform: uppercase;
    }
    &__flag {
        margin-right: 12px;
    }
    &__text {
        display: inline-flex;
        margin-right: 4px;
    }

    &__count {
        display: inline-flex;
    }
}

.search-form {
    display: flex;
    margin-left: auto;

    &__input {
        width: 200px;
        height: 24px;
        padding-right: 4px;
        font-size: 17px;
        border-bottom: 1px solid #8bbfbb;
        border-radius: 2px;
    }
    &__btn {
        @include fixedWH(20px, 20px);
    }
}

.sort-btn {
    &__pop {
        width: 250px;
        padding: 16px;
        background-color: #ffffff;
        box-shadow: 0px 0px 16px rgba(16, 70, 73, 0.1);
        border-radius: 8px;
    }
}

.option-list {
    @include fontMid();
    color: #9e9e9e;

    &__option {
        margin-bottom: 12px;
    }
    &__option:last-child {
        margin-bottom: 0;
    }
    &__option.selected {
        color: #3f8483;
    }
}

$catalogBodyW: 1196;
$rowWidthWithoutPads: $catalogBodyW - 48;

$columW1: 120 / $rowWidthWithoutPads * 100%;
$columW2: 424 / $rowWidthWithoutPads * 100%;
$columW3: 280 / $rowWidthWithoutPads * 100%;
$columW4: 176 / $rowWidthWithoutPads * 100%;
$columW5: 52 / $rowWidthWithoutPads * 100%;

.catalog-table-row {
    display: flex;

    > .column {
        display: flex;
        margin-right: 24px;
    }
    > .column:last-child {
        margin-right: 0;
    }

    > .column:nth-child(1) {
        width: $columW1;
    }
    > .column:nth-child(2) {
        width: $columW2;
    }
    > .column:nth-child(3) {
        width: $columW3;
    }
    > .column:nth-child(4) {
        width: $columW4;
    }
    > .column:nth-child(5) {
        width: $columW5;
    }
    > .column.id {
    }
    .name {
    }
    .category {
    }
    .provider {
    }
    > .column.status {
        justify-content: center;
    }
}

@mixin bodyTableBorder {
    border-bottom: 1px solid #d8ebe9;
}

.catalog-body {
    display: flex;

    &__tree {
        position: relative;
        max-width: 104px;
        min-width: 104px;
        box-shadow: 0px 0px 16px rgba(16, 70, 73, 0.1);
        border-radius: 8px;

        &.toggled {
            max-width: 400px;
            min-width: 400px;

            .tree-toggle-btn {
                & > img {
                    transform: scale(-1, 1);
                }
            }
        }

        .tree-toggle-btn {
            position: absolute;
            top: 50%;
            left: 100%;
            display: flex;
            padding: 12px 6px;

            background-color: #ffffff;
            box-shadow: 0px 0px 16px rgba(16, 70, 73, 0.1);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            transform: translateY(-50%);
            z-index: 2;

            & > img {
                min-width: 10px;
            }
            & > img:last-child {
                margin-left: -4px;
            }
        }
    }

    &__main {
        flex-grow: 1;
        max-width: #{$catalogBodyW}px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 16px;

        box-shadow: 0px 0px 16px rgba(16, 70, 73, 0.1);
        border-radius: 8px;

        .body-wrapper {
            max-height: 600px;
            @include scrollbarStyle();
            overflow: auto;
        }

        > * {
            width: 100%;
        }
    }

    &__header {
        line-height: 0;
        padding: 12px 24px;
        border-bottom: 1px solid #8bbfbb;
        border-radius: 8px 8px 0px 0px;

        > .column {
            padding: 4px 0;
            @include fontSmall(600);
            color: #9e9e9e;
            text-transform: uppercase;
        }
        > .column.id {
            justify-content: center;
        }
    }

    &__row {
        padding: 8px 24px;
        @include bodyTableBorder();

        > .column {
            @include fontMid();
            display: flex;
            align-items: center;
        }

        > .id {
            justify-content: space-between;
            &__text {
                @include fontMid();
            }
        }
        .provider {
            &__count {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #f5faf9;
                border: 1px solid #3f8483;
                border-radius: 8px;

                margin-left: 8px;
                color: #3f8483;
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.folder-row {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    @include bodyTableBorder();

    background-color: #f5faf9;
    border-radius: 0px 2px 2px 0px;

    &__name {
        margin-left: 18px;
        @include fontMid();
        text-transform: uppercase;
    }

    &__provider-count {
        width: $columW4;
        @include fontMid();
        margin-left: auto;
        margin-right: 24px;
    }

    &__status {
        width: $columW5;
        display: flex;
        justify-content: center;
    }
}

//tree
//tree
//tree
.tree-body {
    height: 100%;
    max-height: 600px;
    padding: 0 20px 1px 16px;
    @include scrollbarStyle();
    overflow: auto;

    &__list {
        min-width: 200px;
    }

    & > &__list {
        display: block;
        min-width: 400px;
        max-width: 400px;
    }
}
.c-list {
    position: relative;
    display: none;
    transition: 0s;
    border-left: 1px solid #8bbfbb;

    &::before {
        content: "";
        position: absolute;
        left: -1px;
        bottom: 100%;
        height: 40px;
        width: 1px;
        background-color: #8bbfbb;
    }

    &__item {
        position: relative;
        padding-left: 20px;
        &:last-child > .end-border::after {
            content: "";
            position: absolute;
            left: -2px;
            top: 32.5px;
            bottom: 0;
            width: 3px;
            background-color: #ffffff;
            z-index: 2;
        }
    }
}
.title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    padding-left: 9px;
    padding-right: 8px;
    //margin-top: 12px;
    margin-left: -20px;
    overflow: hidden;
    transition: 0s;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        width: 28px;
        background-color: #8bbfbb;
        transform: translateY(-50%);
    }

    .c-list__item.opened > & {
        margin-bottom: 0;
    }

    &__btn {
        position: relative;
        @include fixedWH(24px, 24px);
        background-color: #ffffff;
        border: 1px solid #3f8483;
        border-radius: 8px;
        z-index: 2;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 2px;
            width: 14px;
            background-color: #3f8483;
            border-radius: 2px;
            transform: translate(-50%, -50%);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .c-list__item.opened > .title > &::after {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        .c-list__item.selected > .title > & {
            background-color: #3f8483;
        }
        .c-list__item.selected > .title > &::after,
        .c-list__item.selected > .title > &::before {
            background-color: #ffffff;
        }
    }

    &__text {
        margin-left: 32px;
        @include fontMid();
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .c-list__item.selected > .title > & {
            @include fontMid(600);
        }
    }

    &__btn + &__text {
        margin-left: 8px;
    }

    .c-list__item.selected > & {
        background-color: #f5faf9;
        border-radius: 8px;
    }
}

//filters
//filters
//filters

.data-tag-line {
    display: flex;
    align-items: center;
    padding: 6px 0;
    border-top: 1px solid #8bbfbb;
    border-bottom: 1px solid #8bbfbb;
    margin-bottom: 16px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__item {
        margin: 6px 0;
        margin-right: 24px;
    }
    &__clear-btn {
        margin: auto 0 12px;
        @include fontSmall(600);
        text-transform: uppercase;
        color: #aa3c3c;
    }
}
.data-tag {
    display: flex;
    padding: 4px 8px;
    background-color: #f5faf9;
    border-radius: 8px;

    &__text {
        @include fontMid();
        margin-right: 24px;
    }
}

.filters {
    &__body {
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 28px;
    }
}

.filter-btn {
    &.active {
        background-color: #f5faf9;
        border-color: #edf7f6;
        border-radius: 8px;
    }
}
.filters-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px;

    &__column {
        min-height: 320px;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        margin-right: 48px;
    }
    &__column:nth-child(3) {
        margin-right: 0;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        margin-left: auto;
        padding-top: 12px;
        & > * {
            margin-right: 24px;
        }
        & > *:last-child {
            margin-right: 0;
        }
        .clear-filters {
            position: absolute;
            right: 0;
            bottom: 0;
            @include fontMid(600);
            text-transform: uppercase;
            color: #aa3c3c;
        }
    }
}

.filter {
    &__title {
        @include fontMid(600);
    }
}
.filter-body {
    margin-top: 8px;
    &.calendar-filter {
        min-width: 400px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

//calendar
//calendar
//calendar

.calendar-field-wrapper {
    min-width: calc(50% - 12px);
    max-width: calc(50% - 12px);
    position: relative;

    &__input-date {
        @include fontMid();
        width: 100%;
        padding-right: 0;
    }
}

.calendar-range-user-field {
    width: 100%;
    margin-bottom: 12px;

    border-color: transparent;
    border-bottom-color: #3f8483;

    &__input {
        @include fontMid();
        width: 100%;
        padding-right: 24px;
    }
}

.search-drop-down-list {
    position: relative;
    &__input {
        margin-left: 8px;
        color: #9e9e9e;
    }
    .ico-wrapper {
        @include fixedWH(24px, 24px);
    }
    .options {
        position: absolute;
        display: none;
        top: 100%;
        left: -1px;
        right: -1px;
        max-height: 284px;
        padding: 0 16px;
        background-color: #ffffff;
        border: 1px solid #8bbfbb;
        border-radius: 0px 0px 8px 8px;
        @include scrollbarStyle(8px);
        overflow: auto;
        transition: 0s;
        z-index: 2;

        &__item {
            margin: 12px 0;
            display: flex;
            .provider-name {
                @include fontMid();
            }
        }
    }
}

.checkbox-list {
    &__item {
        display: flex;
        margin-bottom: 8px;
    }
    .text {
        @include fontMid();
    }
}
