@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$pathToIcons: "../assets/icons";

body {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    color: #202020;
}

main {
    flex-grow: 1;
    padding-bottom: 48px;
}

body > * {
    width: 100%;
    //max-width: 1366px;
    margin: 0 auto;
}

.h-list {
    display: flex;
}

.btn {
    cursor: pointer;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    overflow: hidden;

    > img {
        object-fit: cover;
    }
    &--h > img {
        height: 100%;
    }
    &--w > img {
        width: 100%;
    }
    &--hw > img {
        height: 100%;
        width: 100%;
    }
}

.ico-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    line-height: 0;
    min-width: 12px;
    user-select: none;
}

@mixin fixedWH($height, $width) {
    min-width: $width;
    min-height: $height;
    max-width: $width;
    max-height: $height;
    width: $width;
    height: $height;
}

@mixin fontMid($weight: 400) {
    font-size: 16px;
    line-height: 20px;
    font-weight: $weight;
}
@mixin fontSmall($weight: 400) {
    font-size: 14px;
    line-height: 18px;
    font-weight: $weight;
}
@mixin fontCaption($weight: 400) {
    font-size: 14px;
    line-height: 16px;
    font-weight: $weight;
}

@mixin fontTitle($weight: 700) {
    font-size: 28px;
    line-height: 40px;
    font-weight: $weight;
}

@mixin scrollbarStyle($width: 5px) {
    scrollbar-color: #3f8483 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: $width;
        height: $width;
    }
    &::-webkit-scrollbar-button {
        height: 6px;
        width: 6px;
        background-color: #ffffff;
        border-radius: 8px;
        //display: none;
    }
    &::-webkit-scrollbar-track {
        background-color: #999;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        height: 24px;
        background-color: #3f8483;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-corner {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
    }
    &::-webkit-resizer {
        background-color: #3f8483;
    }
}

[data-toggleable-block] {
    display: none;
    transition: 0s;
}

.d-none {
    display: none;
}

.page {
    position: relative;
}

//POPUP
//POPUP
//POPUP
//исчезает и появляется
.popup-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: 0s;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00142542;
        backdrop-filter: blur(20px);
        z-index: -1;
    }
}

//центрирует
.popup-w {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 24px;

    &__body {
        margin: auto;
    }
}

//само окно
.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 24px 24px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.11);
    border-radius: 8px;

    &__info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__title-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & > .popup__sub-title {
            width: calc(50% - 24px);
            &:first-child {
                margin-right: 48px;
            }
        }
        margin-bottom: 9px;
    }

    &__sub-title {
        @include fontSmall(600);
        text-align: left;
        text-transform: uppercase;
    }

    &__header {
        @include fontMid(600);
        padding: 0 20px;
    }

    &__text {
        margin-top: 8px;
        @include fontMid();
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__btn {
        margin-right: 24px;
    }

    &__btn:last-child {
        margin-right: 0;
    }
    .pop-close-btn {
        position: absolute;
        top: 22px;
        right: 24px;
    }
}
